:root {
    --purple: #13005A;
    --blue: #00337C;
    --light-blue: #1C82AD;
    --green: #03C988;
    --just-white: #ffffff
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
}
h2 {
    font-size: 2rem;
}
p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
}

/* HEADER SECTION */
header{
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    background-color: var(--purple);
    color: var(--green);
}
header a {
    text-decoration: none;
    color: var(--green);
}
header h1 {
    height: auto;
    width: 75%;
    padding: 15px 0;
    font-size: 1.6rem;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.8rem;
    text-align: center;
    border-right: dashed var(--just-white) 1px;
    border-bottom: dashed var(--just-white) 1px;
}
header nav {
    height: auto;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: dashed var(--just-white) 1px;
}
header .menu__list {
    position: absolute;
    top: 50px;
    left: 0px;
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    list-style: none;
    border-bottom: dashed 1px;
    background-color: var(--purple);
}
.menu__list li{
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: 500;
}
.menu__list li:hover {
    text-decoration: underline 2px var(--green);
}
.menu__button {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--purple);
}
.menu__button:hover {
    background-color: var(--blue);
}
.menu__list.active{
    display: flex;
}
.menu__button span {
    display: block;
    height: 35px;
    width: 35px;
    background-image: url("../ASSETS/ICONS/menu_dark.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* MAIN SECTION*/
main {
    height: 100%;
    width: 100%;
    background-color: var(--purple);
}
/* PROFILE SECTION */
.profileContainer {
    height: auto;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    /* border-bottom: dashed 1px var(--just-white); */
}
.profileContainer__photo {
    height: auto;
    width: 100%;
}
.profileContainer__photo img {
    display: block;
    height: 200px;
    width: 200px;
    margin: 20px auto;
    border-radius: 15px;
}
.profileContainer h2{
    margin: 20px auto;
}
.profileContainer p {
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.profileContainer__p--3 {
    display: none;
}
.profileContainer__button--download {
    height: 40px;
    width: 200px;
    display: flex;
    margin: 20px auto;
    background-color: var(--purple);
    border: dashed 1px var(--just-white);
}
.profileContainer__button--download:hover{
    background-color: var(--blue);
    border: solid 1px var(--green);
}
.profileContainer__button--download a:hover {
    color: var(--green);
}
.profileContainer__button--download a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}
.profileContainer__button--download span {
    display: block;
    height: 15px;
    width: 15px;
    margin-left: 10px;
    background-image: url("../ASSETS/ICONS/download_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* EXPERIENCE SECTION */
.experienceContainer {
    height: auto;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
    border-bottom: dashed 1px var(--just-white);
}
.sliderContainer {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 900px;
    margin: 10px 0;
    border: dashed var(--just-white);
    border-width: 1px 0 1px 0;
    overflow: hidden;
}
.slider {
    display: flex;
    height: 300px;
    width: 500%;
}
.slider__section {
    width: 100%;
}
.slider--img {
    display: block;
    width: 100%;
    height: 100%;
}
.slider__btn {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px;
    /* background-color: var(--green); */
    font-size: 1.5rem;
    border-radius: 50%;
    text-align: center;
}
.slider__btn--left {
    right: 10px;
}